body {
    background: url("images/fond5.jpg")no-repeat;
    background-color: rgb(139,180,184);
    background-attachment: fixed;
    background-size: 100%;
    padding-top: 150px;
}

.filAriane {
    font-family: 'The Girl Next Door', cursive;
    font-size: 21px;
}

.divAccueil {
    text-align: center;
    margin-left: 27%;
    margin-right: 27%;
}

.imgAccueil {
    width: 100%;
    border-radius: 15px;
    border: 1px solid black;
}

.row {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.row [class^="col-"] {
    padding-top: 15px;
    padding-bottom: 30px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(48,103,110,.40);
    color: black;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 50px;
}